@{
    ViewBag.Title = "Signup";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
    </ol>
</nav>
@using (Html.BeginForm("signup", "user", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">

        <div class="col-md-10">
            <input type="text" id="fullName" placeholder="Full Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-10">
            <input type="text" id="email" placeholder="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-10">
            <input type="password" id="password" placeholder="Password" class="form-control" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-10">
            <input type="password" id="confirmPassword" placeholder="Confirm Password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="Sign Up" onclick="signup()"/>
        </div>
    </div>
}


<script>
    function signup() {

        var fullName = $("#fullName").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        var data = {
            fullName: fullName,
            email: email,
            password: password,
        };
        $.ajax({
            type: "POST",
            url: "/user/signup",
            data: data,
            success: function (result) {
                if (result.isSuccess ) {
                    window.location.replace("/");
                }
                else {

                    swal.fire(
                        'هشدار!',
                        result.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>