@using Survey.Application.Services.Survey.Queries;
@model IEnumerable<GetSurveyDto>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card{
        margin-bottom:10px;
    }
</style>
<div class="text-center">
    <h3 class="display-4">Welcome to Survey</h3>
    <p>Learn more about <a href="https://github.com/sm-mahdizadeh/survey">Survey</a>.</p>
    <hr />
    <div class="row">
        @foreach (var survey in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@survey.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@survey.Description</h6>
                        <p class="card-text"></p>
                        <a href="/survey/edit/@(survey.Id)" class="card-link">Edit</a>
                        <a href="/survey/Respond/@(survey.Id)" class="card-link">Respond</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
