
@{
    ViewData["Title"] = "Create New Survey";
    ViewBag.Breadcrumb = new Dictionary<string, string>() { { "Home", "/" }, { "Survey", "/Survey" }, { "Edit", "/Survey/Create" } };
}


<div class="row form-group">
    <div class="col-12">
        <input class="form-control" placeholder="Title" id="title" />
    </div>
</div>
<div class="row form-group">
    <div class="col-12">
        <textarea class="form-control" placeholder="Description" id="description"></textarea>
    </div>

</div>


<div class="row form-group">
    <div class="col-12">
        <a class="btn btn-secondary">Cancel</a>
        <a class="btn btn-success" onclick="create()">Save & Next</a>
    </div>
</div>

<script>

    function create() {

        var title = $("#title").val();
        var description = $("#description").val();

        if (title == "") {
            swal.fire(
                'هشدار!',
                "Fill Title",
                'warning'
            );
            return;
        }
        var postData = {
            title: title,
            description: description,
        };

        $.ajax({
            //contentType: 'application/x-www-form-urlencoded',
            //dataType: 'json',
            type: "POST",
            url: "/Survey/Create",
            data: postData,
            success: function (result) {
                if (result.isSuccess == true) {
                    window.location.replace("/survey/edit/" + result.data);
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>